[Unit]
Description=AutoDesk controller server
Before=autodesk-uwsgi.service autodesk-flask.service

[Service]
Type=simple
User=autodesk
EnvironmentFile=/var/local/autodesk/server.cfg
ExecStart=/var/local/autodesk/venv/bin/python -m autodesk.server

[Install]
WantedBy=multi-user.target
