[Unit]
Description=AutoDesk uwsgi server

[Service]
Type=simple
User=autodesk
Environment=AUTODESK_CONFIG=/var/local/autodesk/settings.cfg
ExecStart=/var/local/autodesk/venv/bin/uwsgi -s /var/local/autodesk/uwsgi.sock --manage-script-name --mount /=autodesk.webserver:app

[Install]
WantedBy=multi-user.target
