[Unit]
Description=AutoDesk flask server
Requires=autodesk-server.service
After=autodesk-server.service

[Service]
Type=simple
User=autodesk
Environment=FLASK_APP=autodesk.webserver AUTODESK_CONFIG=/var/local/autodesk/flask.cfg
ExecStart=/var/local/autodesk/venv/bin/python -m flask run -p 8000

[Install]
WantedBy=multi-user.target
