[Unit]
Description=AutoDesk server

[Service]
Type=simple
User=autodesk
ExecStart=/var/local/autodesk/venv/bin/python -m autodesk.server /var/local/autodesk/config.yml

[Install]
WantedBy=multi-user.target
