<!DOCTYPE>
<html>
  <head>
    <title>AutoDesk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body div {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
    <script src="static/Chart.bundle.min.js"></script>
    <script>
      function dataset(label, color, data) {
        return {
          label: label,
          borderColor: color,
          data: data,
          fill: false,
          pointRadius: 0,
          borderWidth: 5
        };
      }

      function reqListener() {
        var json = JSON.parse(this.responseText);
        var labels = [];
        for (var i = 0; i < json[0].length; ++i) {
          labels.push(json[0][i]['time']);
        }
        var values = [];
        for (var i = 0; i < json.length; ++i) {
          var day = json[i];
          var result = [];
          for (var j = 0; j < day.length; ++j) {
            result.push(day[j]['value']);
          }
          values.push(result);
        }

        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: labels,
            datasets: [
              dataset('monday', '#4D4D4D', values[0]),
              dataset('tuesday', '#5DA5DA', values[1]),
              dataset('wednesday', '#FAA43A', values[2]),
              dataset('thursday', '#60BD68', values[3]),
              dataset('friday', '#F17CB0', values[4]),
            ]
          },
          options: {
            responsive: false,
            scales: {
              xAxes: [{
                type: 'time',
                time: {
                  parser: 'HH:mm',
                  displayFormat: 'HH:mm',
                },
                gridLines: {
                  display: true
                }
              }],
              yAxes: [{
                gridLines: {
                  display: false
                }
              }],
            }
          }
        });
      }

      var oReq = new XMLHttpRequest();
      oReq.addEventListener("load", reqListener);
      oReq.open("GET", "/api/get/session.json");
      oReq.send();
    </script>
  </head>
  <body>
    <div>
      <h1>{{active_time}}</h1>
    </div>
    <div>
      <canvas id="myChart" width="1500" height="800"></canvas>
    </div>
  </body>
</html>
