<!DOCTYPE>
<html>
  <head>
    <title>AutoDesk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        font-family: sans-serif;
        max-width: 800px;
        margin: 0 auto;
      }
    </style>
    <script src="static/Chart.bundle.min.js"></script>
    <script>
      function go(dir) {
        var oReq = new XMLHttpRequest();
        oReq.open("PUT", "/api/desk");
        oReq.send(dir);
      }

      function down() { go('0'); }
      function up() { go('1'); }

      function dataset(label, color, data) {
        return {
          label: label,
          borderColor: color,
          data: data,
          fill: false,
          pointRadius: 0,
          borderWidth: 5
        };
      }

      function reqListener() {
        var json = JSON.parse(this.responseText);
        var labels = [];
        for (var i = 0; i < json[0].length; ++i) {
          labels.push(json[0][i]['time']);
        }
        var values = [];
        for (var i = 0; i < json.length; ++i) {
          var day = json[i];
          var result = [];
          for (var j = 0; j < day.length; ++j) {
            result.push(day[j]['value']);
          }
          values.push(result);
        }

        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: labels,
            datasets: [
              dataset('monday', '#4D4D4D', values[0]),
              dataset('tuesday', '#5DA5DA', values[1]),
              dataset('wednesday', '#FAA43A', values[2]),
              dataset('thursday', '#60BD68', values[3]),
              dataset('friday', '#F17CB0', values[4]),
            ]
          },
          options: {
            responsive: false,
            scales: {
              xAxes: [{
                type: 'time',
                time: {
                  parser: 'HH:mm',
                  displayFormat: 'HH:mm',
                },
                gridLines: {
                  display: true
                }
              }],
              yAxes: [{
                gridLines: {
                  display: false
                }
              }],
            }
          }
        });
      }

      var oReq = new XMLHttpRequest();
      oReq.addEventListener("load", reqListener);
      oReq.open("GET", "/api/sessions.json");
      oReq.send();
    </script>
  </head>
  <body>
    <h1>AutoDesk</h1>
    <p>Currently <b>{{session}}</b> with desk <b>{{desk}}</b> for <b>{{active_time}}</b>.</p>
    <p>Change desk state: <a href="#" onclick="down();">Down</a> / <a href="#" onclick="up();">Up</a></p>
    <h2>Statistics</h2>
    <canvas id="myChart" style="width: 100%"></canvas>
  </body>
</html>
